@model Diplomado_MVC_UASD_Login.Models.SignIn

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="card card-container">
            <h2 class="titleLogin">Iniciar Sesi&Oacute;n</h2>

            @Html.ValidationSummary(true, "", new { @class = "text-danger"})
            @using (Html.BeginForm("Usuarios", "Home", FormMethod.Post, new { @class = "form-signin" } ))
            {
                <div>
                    @Html.PasswordFor(dl => dl.Email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(dl => dl.Email, "", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.PasswordFor(dl => dl.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(dl => dl.Password, "", new { @class = "text-danger" })
                </div><br />
                <input type="submit" name="Sign In" value="Entrar" class="btn btn-signin" />
            }<br />
            @Html.ActionLink("Sign In", "SignIn", "Home")
            @{ 
                if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <script type="text/javascript">
                        alert('El Email O Password Incorrecto');
                        document.location = "Index";
                    </script>
                }
            }
        </div>
    </div>
</div>